# The directory Mix will write compiled artifacts to.
/hello-world/_build/
/nucleotide-count/_build/
/protein-translation/_build/
/space-age/_build/
/strain/_build/

# If you run "mix test --cover", coverage assets end up here.
/hello-world/cover/
/nucleotide-count/cover/
/protein-translation/cover/
/space-age/cover/
/strain/cover/

# The directory Mix downloads your dependencies sources to.
/hello-world/deps/
/nucleotide-count/deps/
/protein-translation/deps/
/space-age/deps/
/strain/deps/

# Where third-party dependencies like ExDoc output generated docs.
/hello-world/doc/
/nucleotide-count/doc/
/protein-translation/doc/
/space-age/doc/
/strain/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/hello-world/.fetch
/nucleotide-count/.fetch
/protein-translation/.fetch
/space-age/.fetch
/strain/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
/hello-world/erl_crash.dump
/nucleotide-count/erl_crash.dump
/protein-translation/erl_crash.dump
/space-age/erl_crash.dump
/strain/erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
/hello-world/*.ez
/nucleotide-count/*.ez
/protein-translation/*.ez
/space-age/*.ez
/strain/*.ez

# Ignore package tarball (built via "mix hex.build").
/hello-world/hello_world-*.tar
/nucleotide-count/nucleotide-count-*.tar
/protein-translation/protein-translation-*.tar
/space-age/space-age-*.tar
/strain/strain-*.tar

